@import url(normalize.css);


/*.row{ border: 2px solid #0FBCF5; }
.column{ border: 1px solid yellow; }*/

figure{
	margin: 0;
	padding: 0;
}

.scrollSticky{
	/*z-index: 99;*/
}

.menuSection{
	width: 100%;
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;
}

.barMenu{
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 10px 5px 8px 5px;
	font-size: 1em;
	width: 100%;
}

.barMenuSticky{
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 5px 5px 5px 5px;
	font-size: .85em;
	transition: all 0.4s ease;
}

#logotipo{
	width: 100%;
}


.menu .active > a {
    color: #FFCA0D!important;
    font-weight: bold;    
    background: #000a7b; }

.navbar li a{
	color: #FFFFFF!important;
	
}

#iniciosection{
	background: #E6E6E6;
}

.orbit-bullets button{width: 14px!important; height: 14px!important; }
.orbit-bullets button:hover {
      background-color: #000A7B!important; }
    .orbit-bullets button.is-active {
      background-color: #000A7B!important; }


 #sucursales{
 	padding: 10px 0px 10px 0px;
 }