@import url(normalize.css);


/*.row{ border: 2px solid #0FBCF5; }
.column{ border: 2px solid #F3C200; }*/

body{
	font-family: 'Lato', sans-serif;
}

figure{
	margin: 0;
	padding: 0;
}

#scrollSticky{
	z-index: 99 ;
}

.menuSection{
	width: 100%;
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;

}

.close-button{
	color: #FFFFFF!important;
	z-index: 10;
	/*padding: .9rem;*/
}

.vertical.menu{
	background-color: #2F335A;	
}

.vertical.menu li a{
	color: #fff;	
}

/*edita el background del menu offcanvas*/
.off-canvas-wrapper{
	background-color: #2F335A;	
}

.barMenu{
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;
	/*padding: 10px 5px 10px 5px;*/
	padding: .7rem .4rem .3rem .4rem ;
	font-size: .85em;
	width: 100%;
}

.barMenuSticky{
	background: #000A7B;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 5px 5px 5px 5px;
	font-size: .85em;
	transition: all 0.4s ease;
}

#logotipo{
	/*width: 100%;*/
}

.burgermenu{
	color: #FFFFFF;
	font-size: 1.9rem;
}

.menu .active > a {
    color: #FFCA0D!important;
    font-weight: bold;    
    background: #000a7b; }

.navbar li a{
	color: #FFFFFF!important;
	
}

#iniciosection{
	background: #E6E6E6;
}

/*Editando estilos del slider orbit*/
.orbit-bullets button{width: 14px!important; height: 14px!important; }
.orbit-bullets button:hover {
      background-color: #000A7B!important; }
.orbit-bullets button.is-active {
  background-color: #000A7B!important; }

.nabullets{
	margin:0.3rem!important;
}

.orbit-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5rem;
  margin-bottom: 0;
  color: #fefefe;
  background-color: rgba(10, 10, 10, 0.5); }
/*-----------*/

#sucursalancla{ padding-top: 20px; }

#sucursales{
 	padding: 5px 0px 30px 0px;
 }

 .divSucursales{
 	margin-top: 20px;
 }

 .imgsuc{
 	border-radius: 4px;
 	border: 2px solid #C1C1C1
 }

 #serviciosSection{
 	 padding: 10px 0px 40px 0px;
 	 background-color: #000A7B;
 }

 .sectiontitle{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	margin-bottom: 25px;	
 }

 .servicioscontent{
 	background-color: rgba(255, 255, 255, .9);
 	color: #000a7b;
 	font-family: 'Lato', sans-serif;
 	font-size: 1.65rem;
 	font-weight: bold;
 	border-radius: 100px;
 	max-width: 200px!important;
 	height: 200px!important;
 	vertical-align: middle;
 	padding-top: 70px;
 	text-align: center;
 	margin: 10px; 	
 }

#institucional{
	padding: 0px 0px 0px 0px;
}

#institucionalancla{padding-top:50px;}

#institucional h2{
	color: #000a7b;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 10px 0px 15px 0px;
}

 .divinstitu{
 	border-radius: 4px;
 	border: 2px solid #000a7b;
 }

 .divdomicilio{
	border-radius: 4px;
 	border: 2px solid #000a7b;
	background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgb(225,225,225) 64%, rgb(194,192,192) 100%);
  	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgb(225,225,225) 64%, rgb(194,192,192) 100%);
  	background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgb(225,225,225) 64%, rgb(194,192,192) 100%);
  
 }

 .condicionesDomi p{
 	line-height: 15px;
 	font-size: .7rem;
 	font-family: Arial, sans-serif;
 	text-align: justify;
 	margin: 0px 10px 10px 10px; 
 }

#anclacontactosection{padding-bottom: 45px;}
#contactosection{
	margin-top: 5px;
	background: #efefef;
}

#contactosection h2{
	color: #000a7b;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 10px 0px 15px 0px;
}

#contactosection h3{
	color: #000a7b;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.infosection{
	color: #000a7b;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	line-height: 20px;
}

.infosection i{
	font-size: 2rem;
}

.inforow{
	margin-bottom: 20px;
}

/******** Yoshiko ********/
.formularioContent{
	
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-bottom: .6em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	/*padding: 0.8em;*/
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #6C6C6C;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	/*font-size: 80%;*/
	font-size: 70.25%;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input__field--yoshiko {
	width: 100%;
	background-color: #d0d1d0;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
}

.comentarios{
	padding: 0;
}

.input__label--yoshiko {
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	overflow: hidden;
	padding: 0 1.25em;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s ;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
	color: #373737;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
	content: attr(data-content);
	position: absolute;
	font-weight: 800;
	bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #000a7b;
	padding: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.85em;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
	background-color: transparent;
	border-color: #000a7b;
}
/****/

#footerSection{
	background-color: #636363;
	color: #d5d5d5;
	padding: 1rem 0 .3rem 0;
}

#footerSection ul{
	font-size: .8rem;
}

#footerSection li{
	list-style: none;
	color: #d5d5d5;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
	font-size: .8rem;
	line-height: 1.1rem;

}

#footerSection li a{
	text-decoration: none;
	color: #d5d5d5;
}

#footerSection li a:hover{
	text-decoration: none;
	color: #00BAFF;
	text-decoration: underline;
}

.redes{
	color: #d5d5d5;
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
}

.column.redes { padding: 0 0 0 0 ;} 
.row.redes { margin: 0 0 0 0 ;} 

.iconoredes{
	font-size: 2rem;
}
.iconoredes:hover{
	color: #00BAFF;
}

.copyright p{
	font-size: .6rem;
	line-height: .7rem;
}

.column.logodromed { padding: 0 0 0 0 ;} 
#logoDromed{
	width: 170px;
}