@import url(normalize.css);

/* .row{ border: 1px solid rgb(255, 30, 0); }
.column{ border: 1px solid #51ec22;} */

svg {
    max-height: 100%;
}

body {
    background-image: url("/imagesapp/backgroundimgl.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: tomato; */
}

a {
    /* esto elimina la sombra negra del evento touch en iOs */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content-burgermenu {
    margin: 17px 0;
}

.btn-nav {
    /* esto elimina la sombra negra del evento touch en iOs */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bar {
    display: block;
    width: 40px;
    border: #5B8EE5 solid 2px;
    border-radius: 2px;
    margin-left: 7px;
    -webkit-transition: all .4s 0s;
    -moz-transition: all .4s 0s;
    -ms-transition: all .4s 0s;
    -o-transition: all .4s 0s;
    transition: all .4s 0s;
    z-index: 999;
}

.bar.bar-mid {
    width: 35px;
    margin: 6px 8px 6px 9px !important;
}

.animated {
    z-index: 100;
}

.bar-top.animated {
    -ms-transform: translate(0px, 13px) rotate(-45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, 13px) rotate(-45deg);
    /* Safari */
    transform: translate(0px, 8px) rotate(-45deg);
}

.bar-mid.animated {
    width: 0px;
    transform: translate(17px, -2px);
}

.bar-bot.animated {
    -ms-transform: translate(0px, -13px) rotate(45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, -13px) rotate(45deg);
    /* Safari */
    transform: translate(0px, -12px) rotate(45deg);
}

.logo-f {
    width: 85%;
    margin-left: 1rem;
    margin-bottom: 1.6rem;
}

.botonapp{
    /* border: tomato solid 1px; */
    border-radius: 25px;
    height: 6.5rem;
    margin-bottom: 1rem;
    -webkit-tap-highlight-color: transparent;
}

.content-button {
    height: 100%;
}

.row #llamar-div .row,
.row #consulta-div .row {
    margin: 0 !important;
}

#llamar-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc5e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F64DB, #bdc5e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#consulta-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #adc9e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1497D4, #adc9e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

#ubique-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #003399);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #003399, #8eafce);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#puntos-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F64DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F64DB, #b7caeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.botonapp:active{
    background: #0039A8!important;
}

.button-icon {
    width: 50%;
    margin-left: 1.5rem;
    margin-top: 10px;
}

#consulta-div img.button-icon {
    width: 70%;
    margin-left: 0.9rem;
    margin-top: 0px;
}

#ubique-div img.button-icon {
    width: 38%;
    margin-left: 1.7rem;
    margin-top: 0px;
}

#puntos-div img.button-icon {
    width: 55%;
    margin-left: 1.7rem;
    margin-top: 0px;
}

.content-button {
    text-align: center;
    width: 100%;
}

.texto-boton {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    line-height: 3.1rem;
    width: 100%;
    text-align: left;
}

.texto-add {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
}