@import url(normalize.css);

/* .row{ border: 1px solid rgb(255, 1, 1); }
.column{ border: 1px solid #0efc69;} */

svg {
    max-height: 100%;
}

body {
    background-image: url("/imagesapp/backgroundimgl.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: tomato; */
}

a {
    /* esto elimina la sombra negra del evento touch en iOs */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#splash-content{
    background: #223887;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    
}

#splash-content img{
    width: 85%;
    margin-top: 5rem;
}


#content-menu{
    -webkit-height: 9vh;
    height: 9vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content-burgermenu {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%!important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    /* border: 1px solid tomato; */
}

.btn-nav {
    /* esto elimina la sombra negra del evento touch en iOs */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bar {
    display: block;
    width: 40px;
    border: #5B8EE5 solid 2px;
    border: #223887 solid 2px;
    border-radius: 2px;
    margin-left: 7px;
    -webkit-transition: all .3s 0s;
    -moz-transition: all .3s 0s;
    -ms-transition: all .3s 0s;
    -o-transition: all .3s 0s;
    transition: all .3s 0s;
    z-index: 999;
}

.bar.bar-mid {
    width: 35px;
    margin: 6px 8px 6px 9px !important;
}

.animated {
    z-index: 100;
}

.bar-top.animated {
    -ms-transform: translate(0px, 13px) rotate(-45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, 13px) rotate(-45deg);
    /* Safari */
    transform: translate(0px, 8px) rotate(-45deg);
    border: rgb(255, 255, 255) solid 2px;
}

.bar-mid.animated {
    width: 0px;
    transform: translate(17px, -2px);
}

.bar-bot.animated {
    -ms-transform: translate(0px, -13px) rotate(45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, -13px) rotate(45deg);
    /* Safari */
    transform: translate(0px, -12px) rotate(45deg);
    border: rgb(255, 255, 255) solid 2px;
}

.offcanvas {
    /* border: 1px solid rgb(234, 234, 236); */
    position: fixed;
    width: 90%;
    height: 90%;
    top: 60px;
    left: 20px;
    visibility: hidden;
    transform: translateX(-400px);
    transition: all 0.4s ease;
}


body.open {
    overflow: hidden;
}

body.open:before {
    visibility: visible;
    opacity: 1;
}

body:before {
    content: "";
    position: absolute;
    background-color: #5B8EE5;
    background-color: #223887;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

body.open #content-burgermenu{    
    position: relative;
    height: inherit!important;   
    height: 9vh!important;
    width: inherit!important;

} 

.burger__menu {
    list-style-type: none;
    padding: 0 0 0 10px;
}

.burger__menu li {
    display: block;
    /* border: 1px solid tomato; */
    position: relative;
    margin: 15px 0;
   
    transition: all 0.4s ease;
    line-height: 2.1rem;
}

.burger__menu a:hover {
    padding-left: 30px;
    border-left: 3px solid #fff;
  }

.burger__menu a {
    display: block;
    text-decoration: none;
    color: #fff;    
    font-size: 1.5rem;
    font-family: Arial, "san-serif";
    font-weight: normal;
    transition: all 0.4s ease;
    border-left: 3px solid transparent;
    padding-left: 0;
}

.view {
    transform: translateX(0)!important;
    visibility: visible!important;
}

.logo-menu{
    visibility: hidden;
    transform: translateX(-400px);
    transition: all 0.4s ease;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 45%;
}

.logo-f {
    width: 85%;
    margin-left: 1rem;
    margin-top: 1.3rem;
    margin-bottom: 1.7rem;
}

.botonapp{
    /* border: tomato solid 1px; */
    border-radius: 25px;
    height: 15vh;
    margin-bottom: 2vh;
    -webkit-tap-highlight-color: transparent;
}

.content-button {
    height: 100%;
}

.row #llamar-div .row,
.row #consulta-div .row, 
.row #ubique-div .row, 
.row #puntos-div .row{
    margin: 0 !important;
}

#llamar-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc5e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F64DB, #bdc5e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#consulta-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #adc9e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1497D4, #adc9e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

#ubique-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #003399);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #003399, #8eafce);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#puntos-div {
    background: #1F64DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F64DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F64DB, #b7caeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: #25d365; */
}

.botonapp:active{
    background: #0039A8!important;
}
.botonapp.last{
    margin-bottom: 0.3vh;
}

.button-icon {
    width: 43%;
    margin-left: 1.5rem;
    margin-top: 10px;   
}

#consulta-div img.button-icon {
    width: 70%;
    margin-left: 0.9rem;
    margin-top: 0px;
}

#ubique-div img.button-icon {
    width: 37%;
    margin-left: 0.9rem;
    margin-top: 0px;
}

/* #puntos-div img.button-icon {
    width: 55%;
    margin-left: 1.5rem;
    margin-top: 0px;
} */

#puntos-div i{
    margin-left: 0.7rem;
}

.content-button {
    text-align: center;
    width: 100%;
}

.texto-boton {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6.5vh;
    font-weight: bold;
    color: #FFF;
    line-height: 3rem;
    width: 100%;
    text-align: left;
}

.texto-add {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3vh;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    text-align: left;   
}

.whatsapp{
    color: rgb(255, 255, 255);
    font-size: 7vh!important;
}

.tituloPuntos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 5px;
}

.tituloPuntos h4{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(23, 13, 156);
    margin: 0;
    margin-top: .5rem;
    display: inline;
}

.tituloPuntos a{
    text-align: center;

}

.tituloPuntos img{
    width: 20%;
}


/*media queries for common device breakpoints | @lfernandortiz - @SoftDromedicas*/
/* block landscape html - only portrait */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }

    #content-menu{
        -webkit-height: 9vw;
        height: 9vw;
    }

    body.open #content-burgermenu{            
        height: 9vw!important;    
    }

    .botonapp{
        height: 15vw;
        margin-bottom: 2vw;
    }
    .botonapp.last{
        margin-bottom: 0.3vw;
    }
    
    .texto-boton {
        font-size: 6.5vw;        
    }

    .texto-add {
        font-size: 2.3vw;           
    }

    .whatsapp{
       
        font-size: 7vW!important;
    }

    .tituloPuntos h4{        
        font-size: 2.5vW;
    }

  }

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    /*Estos dos atributos dan el tamanio del spinner, tamanio original 11em */
    width: 5em;
    height: 5em;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #223887;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
